<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="expenseList">
        <h2>My Expenses</h2>
        <p th:id="no_expenses" th:if="${totalExpense == 0}">You don't have any expenses!</p>
        <div>
            <a id="add_expense" href="/newexpense">Add a new Expense</a>
        </div>
    
        <div id="expenses" th:unless="${totalExpense == 0}">                                 
            <table>
                <thead>
                    <tr>
                        <th>When</th>
                        <th>What</th>
                        <th>Amount Spent</th>
                        <th>Payments Requested</th>
                        <th>Payments Received</th>
                        <th>Nett Expense</th>
                    </tr>
                </thead>
                <tbody id="expenses" th:unless="${#lists.isEmpty(expenses)}">
                    <th:block th:each="expense: ${expenses}">
                        <tr>
                            <td th:id="'date_' + ${expense.id}" th:text="${expense.date}">05/09/2022</td>
                            <td id="'description_' + ${expense.id}"><a th:id="'payment_request_' + ${expense.id}" th:href="@{'/paymentrequest?expenseId=' + ${expense.id}}" th:text="${expense.description}">Lunch</a></td>
                            <td id="amount_${expense.id}" th:text="${expense.amount}">ZAR 120</td>
                            <td id="'payment_request_' + ${expense.id}" th:text="${expense.totalAmountOfPaymentsRequested}">ZAR 120</td>
                            <td id="received_${expense.id}" th:text="${expense.totalAmountForPaymentsReceived}">ZAR 120</td>
                            <td th:id="'nett_' + ${expense.id}" th:text="${expense.amountLessPaymentsReceived}">ZAR 120</td>
                        </tr>
                    </th:block>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total Expense:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="grand_total" th:text="${grandExpense}">ZAR 0</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>
</body>

</html>