<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="paymentRequestsReceivedList">
        <h2>Submit a payment request for the following expense</h2>
        <div id="payment_requests_received">
                                             
            <table>
                
                <tbody id="payment_requests_sent">
                        <tr>
                            <td th:text="Date">invalid who</td>
                            <td th:id="expense_date" th:text="${expense.date}">invalid due</td>
                        </tr>
                        <tr>
                            <td th:text="Description">invalid who</td>
                            <td th:id="expense_description" th:text="${expense.description}">invalid due</td>
                        </tr>

                        <tr>
                            <td th:text="Amount">invalid who</td>
                            <td th:id="expense_amount" th:text="${expense.amount}">invalid due</td>
                        </tr>
                </tbody>
            </table>
        </div>

        <h2>Previous Payment Requests for this expense</h2>
        
        <p id="no_payment_requests" th:if="${#lists.isEmpty(paymentRequests)}">You don't have any payment Requests!</p>
        <div id="payment_requests" th:unless="${#lists.isEmpty(paymentRequests)}">
                                             
            <table>
                <thead>
                    <tr>
                        <th>Who</th>
                        <th>Due</th>
                        <th>Paid?</th>
                        <th>How Much</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="payment_requests" th:unless="${#lists.isEmpty(paymentRequests)}">
                    <th:block th:each="paymentRequest: ${paymentRequests}">
                        <tr>
                            <td th:id="'paymentrequest_who_' + ${paymentRequest.getId}" th:text="${paymentRequest.getPersonWhoShouldPayBack.getName}">invalid who</td>
                            <td th:id="'paymentrequest_date_' + ${paymentRequest.getId}" th:text="${paymentRequest.getDueDate}">invalid due</td>
                            <td th:text="Yes" th:if="${paymentRequest.isPaid}">invalid what</td>
                            <td th:text="No" th:unless="${paymentRequest.isPaid}">invalid what</td>
                            <td th:id="'paymentrequest_amount_' + ${paymentRequest.getId}" th:text="${paymentRequest.getAmountToPay}">invalid pay</td>
                        </tr>
                    </th:block>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total Amount of Payments Requested:</td>
                        <th></th>
                        <th></th>
                        <td id="grand_total" th:text=${grandTotal}>ZAR 0</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div>
            <form method="post" action="/paymentrequest.action" enctype="application/x-www-form-urlencoded">
                <label for="email">The email address of the person that should pay you</label>
                <input name="email" id="email" type="email" autofocus required>
                
                <label for="amount" th:text="'The amount they should pay (maximum ' + ${maximumMoney} + '!)'"></label>
                <input name="amount" type="number" id="amount" required th:max="${maximumAmount}">
                <input type="hidden" name="expenseId" th:value="${expense.id}">
                <label for="due_date">Date (dd/mm/yyyy e.g 21/10/2021)</label>
                <input name="due_date" type="text" id="due_date" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/yyyy" required>

                <input id="submit" type="submit" value="Submit"/>
            </form>
        </div>


    </section>
</div>
</body>

</html>