<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="paymentRequestsSentList">
        <h2>People that Owe Me</h2>
        <p id="no_payment_requests_sent" th:if="${#lists.isEmpty(paymentRequestsSent)}">Nobody owes you anything!</p>
        <!-- <div id="paymentRequestsSent" th:unless="${#lists.isEmpty(paymentRequestsSent)}">                                 
            <th:block th:each="paymentRequestSent: ${paymentRequestsSent}">                                               
                <p>Due in: <span th:text="${paymentRequestSent.daysLeftToPay}">05/09/2022</span></p>                      
                <p>Description: <span th:text="${paymentRequestSent.description}">Lunch</span></p>
                <p>Amount: <span th:text="${paymentRequestSent.amount}">ZAR 120</span></p>                     
            </th:block>
        </div> -->
        <div id="payment_requests_sent" th:unless="${#lists.isEmpty(paymentRequestsSent)}">
                                             
            <table>
                <thead>
                    <tr>
                        <th>Who</th>
                        <th>What</th>
                        <th>Due In (days)</th>
                        <th>How Much</th>
                    </tr>
                </thead>
                <tbody id="payment_requests_sent" th:unless="${#lists.isEmpty(paymentRequestsSent)}">
                    <th:block th:each="paymentRequestSent: ${paymentRequestsSent}">
                        <tr>
                            <td th:text="${paymentRequestSent.getPersonWhoShouldPayBack.getName}">invalid who</td>
                            <td th:text="${paymentRequestSent.getDescription}">invalid what</td>
                            <td th:text="${paymentRequestSent.daysLeftToPay}">invalid due</td>
                            <td th:text="${paymentRequestSent.getAmountToPay}">invalid pay</td>
                            <!-- <td th:id="'nett_' + ${expense.id}" th:text="${expense.amountLessPaymentsReceived}">ZAR 120</td> -->
                        </tr>
                    </th:block>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total Unpaid:</th>
                        <th></th>
                        <th></th>
                        <th id="grand_total" th:text=${totalUnpaid}>ZAR 0</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>
</body>

</html>